@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #b59a57;
  display: grid;
  place-items: center;
}

.container {
  width: 770px;
  background-color: #fff;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header #month {
  color: #b59a57;
  font-size: 30px;
  font-weight: 600;
}

button {
  width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.header button {
  background-color: #b59a57;
}

.weekdays {
  width: 100%;
  display: flex;
  background-color: #0d0d0d;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.weekdays div {
  width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #cbd4c2;
  color: #7f8fa6;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.day:hover {
  background-color: rgba(112, 111, 211, 0.1);
  color: #706fd3;
}

#currentDay {
  background-color: #706fd3;
  color: #fff;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #3d3d3d;
  background-color: #2ed573;
  color: #fff;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

/*.eventone {
  font-size: 10px;
  padding: 3px;
  background-color: #ea2027;
  color: #fff;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}*/

.eventone {
  width: 10px;
  height: 10px;
  background-color: #ea2027;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.eventtwo {
  width: 10px;
  height: 10px;
  background-color: #800080;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.eventthree {
  width: 10px;
  height: 10px;
  background-color: #458684;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.eventfour {
  width: 10px;
  height: 10px;
  background-color: #2ed573;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.eventfive {
  width: 10px;
  height: 10px;
  background-color: #ffa500;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.event.holiday {
  background-color: palegreen;
  color: #3d3d3d;
}

.plain {
  cursor: default;
  box-shadow: none;
}

#modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200vw;
  height: 200vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

#addEvent,
#viewEvent {
  display: none;
  width: 350px;
  background-color: #fff;
  padding: 25px;
  position: absolute;
  z-index: 20;
}

#addEvent h2,
#viewEvent h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

#txtTitle {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cbd4c2;
  font-size: 16px;
}

#btnSave {
  background-color: #2ed573;
}

.btnClose {
  background-color: #2f3542;
}

#viewEvent p {
  margin-bottom: 20px;
}

#btnDelete {
  background-color: #ea2027;
}

.add-event-button {
  background-color: #0000FF;
  color: #FFFFFF;
}

#viewEvent .individual-event button {
  color: red;
}

#btnFindAvailableTime{
  background-color: #0d0d0d;
  color: goldenrod;
}

#eventText {
  display: none;
}

.error {
  border-color: #ea2027 !important;
}